* {
    all: unset;
}

tooltip,
menu {
    background-color: @backgroundTsp;
    color: @onBackground;
    border-radius: 1.705rem;
    font-size: x-large;
    padding: 1rem;
}

menuitem {
    margin: .5rem;
}

menuitem image {
    font-size: 2rem;
    color: red;
}

switch {
    background-color: @surfaceContainerHighest;
    border: 2px solid @outline;
    color: transparent;
    border-radius: 1.705rem;
    min-width: 35px;
    min-height: 15px;
    padding: 3px;
    font-size: 1px;
}

switch slider {
    background-color: @outline;
    border-radius: 50%;
    min-width: 10px;
    min-height: 10px;
}

switch.active {
    background-color: @primary;
}

switch.active slider {
    background-color: @onPrimary;
}

separator {
    background-color: @outline;
}

.bar-bg {
    background-color: @backgroundTsp;
    min-height: 2.727rem;
}

.corner {
    background-color: @backgroundTsp;
    border-radius: 1.705rem;
    -gtk-outline-radius: 1.705rem;
}

.corner-black {
    background-color: black;
    border-radius: 1.705rem;
    -gtk-outline-radius: 1.705rem;
}

.workspace {
    margin: 0 .5rem;
    color: @primary;
    padding: 0.2rem 1rem;
    border-radius: 1.705rem;
    transition: .3s;
}

.workspace.dirty {
    background-color: @primaryContainerTsp;
    color: @onPrimaryContainer;
}

.workspace.active {
    background-color: @primary;
    color: @onPrimary;
}

.card {
    background-color: @primaryContainerTsp;
    color: @onPrimaryContainer;
    padding: 0.3rem 1rem;
    border-radius: 1.705rem;
}

.card image {
    font-size: large;
}

.level-bar {
    color: @primary;
    background-color: @backgroundTsp;
    font-size: large;
    margin: 5px;
}

.rightbar {
    background-color: @backgroundTsp;
    border-radius: 1.705rem;
}

.rightbar-header {
    margin: 1rem;
    color: @onBackground;
    font-size: large;
}

.rightbar-header-icon.large {
    font-size: 2rem;
}

.rightbar-mixer {
    padding: 0 10px;
}

.rightbar-mixer image {
    font-size: 3.5rem;
}

scale trough {
    border-radius: 0.477rem;
    min-height: 1rem;
    background-color: @primaryContainerTsp;
}

scale highlight {
    border-radius: 0.477rem;
    min-height: 1rem;
    background-color: @primary;
}


calendar {
    padding: 0.8rem;
    color: @onBackground;
}

calendar.highlight {
    color: @primary;
}

/* Launcher */
.launcher-section {
    background-color: @backgroundTsp;
    border-radius: 1.705rem;
    min-width: 400px;
}

.pinned-app-icon {
    font-size: 5rem;
    margin: 1rem;
}

.launcher-bar-entry {
    font-size: x-large;
    padding: 10px;
    margin: 10px 0;
    color: @onBackground;
}

.launcher-bar-scroll {
    min-height: 200px;
    margin: 10px;
}

.launcher-bar-app-item {
    padding: 10px;
    font-size: larger;
    color: @onBackground;

}

.launcher-bar-app-item-icon,
.script-launcher-icon {
    font-size: 3rem;

}

.launcher-bar-app-item-pin {
    color: @secondary;
}

.script-launcher-item {
    margin: 10px;
}

.network-box {
    margin: 0 10px;
    padding: 10px;
    background-color: @backgroundTsp;
    border-radius: 1.705rem;
}

.network-toggle {
    color: @onPrimaryContainer;
    font-size: large;
}

.network-toggle image {
    font-size: 2rem;
}

.topleft-icon {
    color: @primary;
}

/* Notifications */

window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @onPrimaryContainer;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 1.7rem;
}

.notification {
    min-width: 450px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid @outlineTsp;
    background-color: @backgroundTsp;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @onPrimaryContainer;
    font-size: 1.4em;
}

.body {
    color: @onBackground;
    font-size: 14px;
}

.actions .action-button {
    padding: 5px 10px;
    border-radius: 1.7rem;
    font-size: 16px;
    background-color: @primaryContainer;
    color: @onPrimaryContainer;
}


/* COLORS */
@define-color primary_paletteKeyColor rgb(187,88,97);
@define-color primary_paletteKeyColorTsp rgba(187,88,97,0.7);
@define-color secondary_paletteKeyColor rgb(145,110,111);
@define-color secondary_paletteKeyColorTsp rgba(145,110,111,0.7);
@define-color tertiary_paletteKeyColor rgb(145,114,70);
@define-color tertiary_paletteKeyColorTsp rgba(145,114,70,0.7);
@define-color neutral_paletteKeyColor rgb(7,7,7);
@define-color neutral_paletteKeyColorTsp rgba(7,7,7,0.7);
@define-color neutral_variant_paletteKeyColor rgb(7,7,7);
@define-color neutral_variant_paletteKeyColorTsp rgba(7,7,7,0.7);
@define-color background rgb(19,19,19);
@define-color backgroundTsp rgba(19,19,19,0.7);
@define-color onBackground rgb(226,226,226);
@define-color onBackgroundTsp rgba(226,226,226,0.7);
@define-color surface rgb(19,19,19);
@define-color surfaceTsp rgba(19,19,19,0.7);
@define-color surfaceDim rgb(19,19,19);
@define-color surfaceDimTsp rgba(19,19,19,0.7);
@define-color surfaceBright rgb(57,57,57);
@define-color surfaceBrightTsp rgba(57,57,57,0.7);
@define-color surfaceContainerLowest rgb(14,14,14);
@define-color surfaceContainerLowestTsp rgba(14,14,14,0.7);
@define-color surfaceContainerLow rgb(27,27,27);
@define-color surfaceContainerLowTsp rgba(27,27,27,0.7);
@define-color surfaceContainer rgb(31,31,31);
@define-color surfaceContainerTsp rgba(31,31,31,0.7);
@define-color surfaceContainerHigh rgb(42,42,42);
@define-color surfaceContainerHighTsp rgba(42,42,42,0.7);
@define-color surfaceContainerHighest rgb(53,53,53);
@define-color surfaceContainerHighestTsp rgba(53,53,53,0.7);
@define-color onSurface rgb(226,226,226);
@define-color onSurfaceTsp rgba(226,226,226,0.7);
@define-color surfaceVariant rgb(71,71,71);
@define-color surfaceVariantTsp rgba(71,71,71,0.7);
@define-color onSurfaceVariant rgb(198,198,198);
@define-color onSurfaceVariantTsp rgba(198,198,198,0.7);
@define-color inverseSurface rgb(226,226,226);
@define-color inverseSurfaceTsp rgba(226,226,226,0.7);
@define-color inverseOnSurface rgb(48,48,48);
@define-color inverseOnSurfaceTsp rgba(48,48,48,0.7);
@define-color outline rgb(145,145,145);
@define-color outlineTsp rgba(145,145,145,0.7);
@define-color outlineVariant rgb(71,71,71);
@define-color outlineVariantTsp rgba(71,71,71,0.7);
@define-color shadow rgb(0,0,0);
@define-color shadowTsp rgba(0,0,0,0.7);
@define-color scrim rgb(0,0,0);
@define-color scrimTsp rgba(0,0,0,0.7);
@define-color surfaceTint rgb(255,179,182);
@define-color surfaceTintTsp rgba(255,179,182,0.7);
@define-color primary rgb(255,179,182);
@define-color primaryTsp rgba(255,179,182,0.7);
@define-color onPrimary rgb(95,18,30);
@define-color onPrimaryTsp rgba(95,18,30,0.7);
@define-color primaryContainer rgb(125,41,51);
@define-color primaryContainerTsp rgba(125,41,51,0.7);
@define-color onPrimaryContainer rgb(255,218,218);
@define-color onPrimaryContainerTsp rgba(255,218,218,0.7);
@define-color inversePrimary rgb(156,64,73);
@define-color inversePrimaryTsp rgba(156,64,73,0.7);
@define-color secondary rgb(230,189,190);
@define-color secondaryTsp rgba(230,189,190,0.7);
@define-color onSecondary rgb(68,41,43);
@define-color onSecondaryTsp rgba(68,41,43,0.7);
@define-color secondaryContainer rgb(93,63,64);
@define-color secondaryContainerTsp rgba(93,63,64,0.7);
@define-color onSecondaryContainer rgb(255,218,218);
@define-color onSecondaryContainerTsp rgba(255,218,218,0.7);
@define-color tertiary rgb(231,192,141);
@define-color tertiaryTsp rgba(231,192,141,0.7);
@define-color onTertiary rgb(67,44,6);
@define-color onTertiaryTsp rgba(67,44,6,0.7);
@define-color tertiaryContainer rgb(173,139,93);
@define-color tertiaryContainerTsp rgba(173,139,93,0.7);
@define-color onTertiaryContainer rgb(0,0,0);
@define-color onTertiaryContainerTsp rgba(0,0,0,0.7);
@define-color error rgb(255,180,171);
@define-color errorTsp rgba(255,180,171,0.7);
@define-color onError rgb(105,0,5);
@define-color onErrorTsp rgba(105,0,5,0.7);
@define-color errorContainer rgb(147,0,10);
@define-color errorContainerTsp rgba(147,0,10,0.7);
@define-color onErrorContainer rgb(255,218,214);
@define-color onErrorContainerTsp rgba(255,218,214,0.7);
@define-color primaryFixed rgb(255,218,218);
@define-color primaryFixedTsp rgba(255,218,218,0.7);
@define-color primaryFixedDim rgb(255,179,182);
@define-color primaryFixedDimTsp rgba(255,179,182,0.7);
@define-color onPrimaryFixed rgb(64,0,12);
@define-color onPrimaryFixedTsp rgba(64,0,12,0.7);
@define-color onPrimaryFixedVariant rgb(125,41,51);
@define-color onPrimaryFixedVariantTsp rgba(125,41,51,0.7);
@define-color secondaryFixed rgb(255,218,218);
@define-color secondaryFixedTsp rgba(255,218,218,0.7);
@define-color secondaryFixedDim rgb(230,189,190);
@define-color secondaryFixedDimTsp rgba(230,189,190,0.7);
@define-color onSecondaryFixed rgb(44,21,22);
@define-color onSecondaryFixedTsp rgba(44,21,22,0.7);
@define-color onSecondaryFixedVariant rgb(93,63,64);
@define-color onSecondaryFixedVariantTsp rgba(93,63,64,0.7);
@define-color tertiaryFixed rgb(255,221,178);
@define-color tertiaryFixedTsp rgba(255,221,178,0.7);
@define-color tertiaryFixedDim rgb(231,192,141);
@define-color tertiaryFixedDimTsp rgba(231,192,141,0.7);
@define-color onTertiaryFixed rgb(41,24,0);
@define-color onTertiaryFixedTsp rgba(41,24,0,0.7);
@define-color onTertiaryFixedVariant rgb(92,66,26);
@define-color onTertiaryFixedVariantTsp rgba(92,66,26,0.7);